.main{
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
}
.sub{
    background-color: bisque;
    margin: 10px;
    padding: 10px;
    border: 5px solid brown;
    border-radius: 20px;
}
.ssub{
    margin: 5px;
    padding: 5px;
    background-color: blueviolet;
    border: 3px solid darkgreen;
    color: #ffffff;
}
.txt{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.txt2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 210px;
    position: relative;
    top: 80px;

}
.img{
    border-radius: 50px;
    
}